{% extends "back_template.html.twig" %}

{% block adminContent %}

    <h2>Liste des chapitres</h2>
    <div class="tab-responsive">

        <table class="table table-striped table-sm">
            <thead>
            <tr>
                <th>Titre</th>
                <th>Numéro de chapitre</th>
                <th class="d-none">Publié</th>
                <th>Nombre de commentaires</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            {% if chapters is not empty %}
                {% for chapter in chapters %}
                    <tr>
                        <td>{{ chapter.title }}</td>
                        <td>{{ chapter.number }}</td>
                        <td class="d-none">{{ chapter.published ? "Oui" : "Non" }}</td>
                        <td><a href="/admin/comments/{{ chapter.id }}">{{ nbComs[chapter.id] }}</a></td>
                        <td><a href="/admin/chapter/{{ chapter.id }}"><i class="fas fa-edit"></i></a> -
                            <button class="btn btn-link" type="button" data-toggle="modal"
                                    data-target="#remove-{{ chapter.id }}"><i
                                        class="fas fa-trash-alt text-danger"></i></button>
                        </td>
                    </tr>
                    <div class="modal fade" id="remove-{{ chapter.id }}" tabindex="-1" role="dialog"
                         aria-labelledby="modal-label"
                         aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title" id="modal-label">Confirmer suppression de chapitre</h4>
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                        &times;
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <p>Êtes-vous sûr de vouloir supprimer ce chapitre ?</p>
                                </div>
                                <div class="modal-footer">
                                    <button class="btn btn-danger" data-dismiss="modal">Annuler</button>
                                    <a class="btn btn-primary"
                                       href="/admin/chapter/delete/{{ chapter.id }}">Confirmer</a>
                                </div>
                            </div><!-- /.modal-content -->
                        </div><!-- /.modal-dialog -->
                    </div><!-- /.modal -->
                {% endfor %}
            {% else %}
                <tr>
                    Aucun chapitre à afficher.
                </tr>
            {% endif %}
            </tbody>
        </table>
    </div>



{% endblock %}