{% extends "template.html.twig" %}

{% block pageTitle %}{{ post.title }}{% endblock %}

{% block content %}
    {% if not post is null %}

        {% if state is not null %}
            {% if state == "next" %}
                <h2>Vous venez de terminer le chapitre {{ current - 1 }}</h2>
            {% endif %}
        {% endif %}
        <section class="single-chapter" id="{{ post.number }}">
            <article class="chapter-content" data-chapter="{{ post.number }}">
                <h2>Chapitre {{ post.number }}</h2>
                <h1>{{ post.title }}</h1>
                <p>{{ post.content }}</p>
            </article>
            <div class="chapter-navigation">
                <div class="chapter-previous">
                    <button class="btn btn-primary" onclick="window.location = '/chapitres/previous'">Chapitre
                        précédent
                    </button>
                </div>
                <div class="chapter-next">
                    <button class="btn btn-primary" onclick="window.location = '/chapitres/next'">Chapitre suivant
                    </button>
                </div>

            </div>
        </section>
        <hr>
        <section class="comments-section">
        <h2>Commentaires</h2>
        <div class="comments">
            {% if not comments is empty %}
                {% for comment in comments %}
                    <h3>{{ comment.author }}</h3>
                    <div><span>Posté le {{ comment.added|date }}</span></div>
                    <p>{{ comment.content }}</p>
                {% endfor %}
            {% else %}
                <p>Il n'y a pas encore de commentaire.</p>
            {% endif %}
        </div>
    {% else %}
        <h2>Le billet demandé n'existe pas.</h2>
    {% endif %}
    <div id="comment-form">
        <h2>Écrire un commentaire</h2>
        {% if bag.messages is not empty %}
            {% for message in bag.messages %}
                <div class="alert alert-{{ bag.messages[0].type }} alert-dismissible fade show" role="alert">
                    {{ bag.getMessage.message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endfor %}
        {% endif %}
        {{ form|raw }}
    </section>
{% endblock %}