{% extends "front_template.html.twig" %}
{% block pageTitle %}La couverture{% endblock %}
{% block content %}
    {% if bag.messages is not empty %}
        {% for message in bag.messages %}
            <div class="alert alert-{{ bag.messages[0].type }} alert-dismissible fade show"
                 role="alert">
                {{ bag.getMessage.message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endfor %}
    {% endif %}
    <div class="row">
        <section>
            <div class="post-container">
                <article>
                    <h2>{{ edito.title }}</h2>
                    <p>{{ edito.content|raw }}</p>
                </article>
            </div>
        </section>
    </div>
    <div class="row">
        <section>
            <div class="post-container">
                {% if featured is not null %}
                    <article>
                        <h2 class="text-right">{{ featured.title }}</h2>
                        <p>{{ featured.content|raw }}</p>
                    </article>
                {% endif %}

                <div class="post-buttons">
                    <div class="read-more">
                        {% if featured.number == 0 %}
                            <button class="btn btn-primary" onclick="window.location = '/chapitres#body-container'">
                                Commencer la lecture
                            </button>
                        {% else %}
                            <button class="btn btn-primary"
                                    onclick="window.location = '/chapitres/chapitre-{{ featured.number }}#{{ featured.number }}'">
                                Continuer la lecture
                            </button>
                        {% endif %}
                    </div>
                </div>
            </div>
        </section>
    </div>

{% endblock %}
